*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.registro{
    width: 400px;
    background-color: rgb(33, 33, 65);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 8px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;

}
.tittle{
    font-size: 22px;
    margin-bottom: 20px;
}

.forms{
    width: 100%;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    margin-bottom: 16px;
    border: 1px solid ;
    font-size: 18px;
}
.text1{
    text-align: center;
    font-size: 18px;
}
.terminos{ 
    text-align: center;
    font-size: 14px;
    color: white;
    margin-bottom: 15px;
    
}
.boton{
    width: 50%;
    margin-top: 10px;
    padding: 12px;
    background-color: rgb(101, 132, 227);
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    position: relative;
    margin-left:80px;

}

.texto2{
    display:flex ;
    justify-content: center;
    margin-top: 5px;
}

.tex2{
    color: white;
}
 
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(112,22,208,1) 35%, rgba(0,212,255,1) 100%);
}